@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&display=swap');
@import 'normalize.css';
:root {
    --background-color: #F5F5F5;
    --primary-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Raleway;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: #fff;
    position: relative;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}