.wrapper {
    display: flex;
}

.sidebar {
    position: fixed;
    width: 14vw;
    border-right: 1px solid #333;
    height: 100vh;
}

.content {
    width: 100%;
    background-color: aqua;
}

.inner {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    margin-top: 10px;
    transform: translateY(56px);
    margin: 0 auto;
    max-width: 600px;
    height: inherit;
}

.post-photo {
    border: 1px solid #333;
    border-radius: 12px;
    margin-top: 10px;
}